[credential]
	helper = /mnt/c/Program\\ Files\\ \\(x86\\)/Git\\ Credential\\ Manager/git-credential-manager.exe
[user]
	name = Tushar Anand
	email = tushar_anand@yahoo.com
[init]
	defaultBranch = master
